target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
/.idea/
ui/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.cursor/
/ui_new/
/package.json
/package-lock.json
/docs/plan-principleAssessmentHttpTest.prompt.md
/ops-management/deploy/ops-management-1.0-SNAPSHOT.jar
/host-metrics/deploy/host-metrics-1.0-SNAPSHOT.jar
/host-metrics/host-metrics-deploy.zip
/ops-management/ops-management-deploy.zip
/.playwright-mcp/page-2026-04-12T01-59-40-220Z.yml
/guide/host-metrics-jar-copy-guide.md
/guide/maven-antrun-plugin-goals.md
/guide/maven-antrun-run-explanation.md
/principle-assessment/deploy/principle-assessment-1.0-SNAPSHOT.jar
/principle-assessment/principle-assessment.zip
/mvnrepo/
/uploads/
/principle-assessment/principle-assessment-0423-1656.zip
/principle-assessment/principle-assessment-0423-2300.zip
/.mvn/maven.config
/.mvn/project-settings.xml
/principle-assessment/principle-assessment-0429-1325.zip
/principle-training/deploy/principle-training-1.0-SNAPSHOT.jar
#/x-frontend/TraningManagement
/x-frontend/ai-model-lifecycle-frontend/node_modules/
/hs_err_pid42988.log
/x-chatservice/data/
/x-frontend/ai-model-lifecycle-frontend/.npm-cache/
/training-management/training-management.zip
/training-management/deploy/training-management-1.0-SNAPSHOT.jar
/x-frontend/ai-model-lifecycle-frontend/ai-model-lifecycle-frontend/
/training-management/uploads/
/x-frontend/intelligent-qa-frontend/IntelligentQA/
/x-frontend/ai-model-lifecycle-frontend/dist/
/x-frontend/intelligent-qa-frontend/dist/
/intelligent-qa/deploy/intelligent-qa-1.0-SNAPSHOT.jar
/ai-model-lifecycle/deploy/ai-model-lifecycle-1.0-SNAPSHOT.jar
/logs/
