-- 1. 通用字典表（project_type, resource_category, publish_status, file_type, tag_type）
CREATE TABLE IF NOT EXISTS t_s_dict (
    id           BIGSERIAL PRIMARY KEY,
    dict_type    VARCHAR(64)  NOT NULL,
    dict_code    VARCHAR(64)  NOT NULL,
    dict_name    VARCHAR(128) NOT NULL,
    sort_order   INT          NOT NULL DEFAULT 0,
    deleted      INT          NOT NULL DEFAULT 0,
    creator      VARCHAR(64),
    create_time  TIMESTAMP,
    updater      VARCHAR(64),
    update_time  TIMESTAMP,
    UNIQUE (dict_type, dict_code)
);

COMMENT ON TABLE t_s_dict IS '通用字典表';
COMMENT ON COLUMN t_s_dict.dict_type IS '字典类型';
COMMENT ON COLUMN t_s_dict.dict_code IS '字典编码';
COMMENT ON COLUMN t_s_dict.dict_name IS '字典名称';
COMMENT ON COLUMN t_s_dict.sort_order IS '排序号';

-- 字典初始数据

-- 2. 标签表
CREATE TABLE IF NOT EXISTS t_s_tag (
    id           BIGSERIAL PRIMARY KEY,
    tag_name     VARCHAR(128) NOT NULL,
    tag_type     VARCHAR(64)  NOT NULL,
    description  TEXT,
    deleted      INT          NOT NULL DEFAULT 0,
    creator      VARCHAR(64),
    create_time  TIMESTAMP,
    updater      VARCHAR(64),
    update_time  TIMESTAMP
);

COMMENT ON TABLE t_s_tag IS '标签表';
COMMENT ON COLUMN t_s_tag.tag_name IS '标签名称';
COMMENT ON COLUMN t_s_tag.tag_type IS '标签类别（字典 tag_type）';
COMMENT ON COLUMN t_s_tag.description IS '标签说明';